@CHARSET "ISO-8859-1";




.main
{
	width: auto;
	height: 800px;
	margin-left: 0;
	margin-top: 0;
	background-color: #efefef;
	border:1px solid;
}

.innerMain
{
	width: 601px;
	height: 321px;
	margin-left: 365px;
	margin-top: 100px;
	background-color: #d6d6db;
	
}

.container
{
	width: 327px;
	height: 312px;
	margin-left: 134px;
	
	text-align: center;

	
}